:root{
    --logo-color:#95E1D3;
    --title-color:#333;
    --text-color:#B6B6B6;
    --icon-color:#95E1D3;
    --hover-color:#F38181;
}

body{
    font-family: Roboto;
}

.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: solid 1px #F38181; */
}

.header{
    padding-top: 24px;
    padding-bottom: 81px;
}

.header-box{
     display: flex;
     align-items: center;
}

.header-logo{
    color: var(--logo-color);
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 1.23;
margin-right: 625px;
}

.header-list{
    display: flex;
    gap: 50px;
}

.header-link{
    color: var(--logo-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.21;
}

.header-link:hover{
    color: var(--hover-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.21;
}

.services{
    text-align: center;
}

.services-title{
    color: var(--title-color);
font-family: "Kaushan Script";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.45;
margin-bottom: 20px;
}

.services-subtitle{
    color: var(--title-color);
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 1.23;
font-variant: all-small-caps;
margin-bottom: 40px;

}

.line{
    background: var(--hover-color);
    width: 60px;
    height: 4px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

}

.features{
    padding-top: 65px;
    padding-bottom: 100px;
}

.features-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.features-subject{
    color: var(--title-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.21;
font-variant: small-caps;
margin-bottom: 20px;
}

.features-icon{
    width: 37px;
    height: 37px;
    fill: var(--icon-color);
    margin-right: 19px;
    
}

.features-desc{
    color: var(--text-color);
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 1.46; 
/* margin-right: 70px; */
/* width: 310px; */
}

.team{
    padding-bottom: 80px;
}

.team-title{
    color: var(--title-color);
font-family: "Kaushan Script";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.45;
text-align: center;
}

.team-subtitle{
    color: var(--title-color);
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 1.23;
font-variant: all-small-caps;
margin-top: 17px;
margin-bottom: 36px;
text-align: center;
}

.team-desc{
    color: var(--text-color);
text-align: center;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
margin-top: 45px;
margin-bottom: 27px;
}

.team-list{
    display: flex;
    justify-content: space-between;
}

.team-image{
    width: 380px;
    height: 470px;

}

.team-name{
    color: var(--title-color);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.21;
font-variant: all-small-caps;
margin-top: 30px;
margin-bottom: 10px;
}

.team-role{
    color: var(--text-color);
text-align: center;
font-family: Roboto;
font-size: 15px;
font-style: italic;
font-weight: 300;
line-height: 1.2;
}

.footer{
    border-top: solid 1px var(--text-color);

}

.footer-copywrite{
    color: var(--title-color);
/* text-align: center; */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.14;
}

.footer-link{
    color: var(--title-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.14;
}

.footer-link:hover{
    color: var(--hover-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.14;
}

.footer-form{
    display: flex;
    justify-content: flex-end;
}

.footer-email{
    width: 230px;
    height: 39px;
}

.footer-label{
    width: 150px;
    height: 40px;
    color: #fff;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-variant: all-small-caps;
background-color: var(--logo-color);
padding: 11px 38px 12px 38px;
}